<h1>View Bookmark</h1>

<p id="notice">

<table id="myTable">
  <thead>
  <tr>
    <th>Isbn</th>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Date published</th>
    <th>Edition</th>
    <th>Front cover img</th>
    <th>Subject</th>
    <th>Summary</th>
    <th>Special collection</th>
    <% if current_user.role == 'student' %>
      <th></th>
      <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @book.each do |book| %>
    <tr>
      <td><%= book.isbn %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.language %></td>
      <td><%= book.date_published %></td>
      <td><%= book.edition %></td>
      <td><%= image_tag(book.front_cover_img, :alt => "Book Image", size: '100') %></td>
      <td><%= book.subject %></td>
      <td><%= book.summary %></td>
      <td><%= book.special_collection %></td>
      <% if current_user.role == 'student' %>
        <td><%= link_to 'Show', book%></td>
        <td><%= link_to 'Remove Bookmark', delete_bookmark_path(:book_id => book.id), :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', :back %>

