<p id="notice"><%= notice %></p>

<h1>Libraries</h1>

<table id="myTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Borrow duration</th>
      <th>Fine per day</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.name %></td>
        <td><%= library.location %></td>
        <td><%= library.borrow_duration %></td>
        <td><%= library.fine_per_day %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %> |
<%= link_to 'Back', :back %>
