<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @library.location %>
</p>

<p>
  <strong>Borrow duration:</strong>
  <%= @library.borrow_duration %>
</p>

<p>
  <strong>Fine per day:</strong>
  <%= @library.fine_per_day %>
</p>

<p>
  <strong>University:</strong>
  <%= @university.name %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', :back %>
