<p id="notice"><%= notice %></p>

<h1>Hold Request</h1>
<%# <%= render 'searchform', :locals => @books %>
<table id="myTable">
  <thead>
    <tr>
      <th>Book Id</th>
      <th>Title</th>
      <th>Student Id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @book_issue_transaction_list.each do |log| %>
      <tr>
        <td><%= log.books_id %></td>
        <td><%= log.title %></td>
        <td><%= log.users_id %></td>
        <td></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
