<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @book.date_published %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Front cover img:</strong>
  <%= image_tag(@book.front_cover_img, :alt => "Book Image", size: '100') %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Special collection:</strong>
  <%= @book.special_collection %>
</p>

<% if current_user.role == 'librarian' %>
<%= link_to 'Add To Library', add_book_library_path(@book) %> |
<% end %>
<% if current_user.role != 'student' %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', :back %>
