<p id="notice"><%= notice %></p>
<h1><%= params[:type].camelize %> List</h1>
<table id="myTable">
  <thead>
    <tr>
      <th colspan="1">Name</th>
      <th colspan="1">Email</th>
      <th colspan="1">Role</th>
      <th ></th>
      <th ></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', profile_path(user.id) %></td>
        <td><%= link_to 'Edit', profile_edit_path(user)%></td>
        <td><%= link_to 'Delete', profile_delete_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.role == 'admin' %>
  <%= link_to 'Create New User', create_user_by_admin_path %>
<% end %>
